<!-- when revamping UI : move this elsewhere  -->
<div *ngIf="isDetailsPanelShown">
    <button (click)="closeDetails()">Fermer</button>
    <ul>
        <li *ngFor="let assignedMeeting of getMeetingsByTicket(selectedTicketDetails)">{{assignedMeeting.meeting.subject}} <button (click)="unassignMeeting(assignedMeeting)">X</button></li>
    </ul>
</div>

<div class="tickets">
    <div class="ticket card" *ngFor="let ticket of tickets" (drop)="drop($event)" (dragover)="allowDrop($event)" [attr.data-issue-key]="ticket.issueKey">
        <i class="fa fa-times discard-button" (click)="onDiscard($event, ticket)"> </i>
        <span class="card__title"><a href="{{ticket.jiraLink}}&timeLogged={{getTotalTimeForTicket(ticket.issueKey)}}m" target="_blank">{{ticket.issueKey}}</a></span>
        <div>⌛: {{getTotalTimeForTicket(ticket.issueKey)}} minutes</div>
        <div>📅: <button (click)="openDetails(ticket.issueKey)">{{getMeetingsByTicket(ticket.issueKey).length}} meetings assignés</button></div>
    </div>
</div>

<label>Ajouter</label>
<input class="issueKey" type="text" (keyup)="onJiraKeystroke($event)" placeholder="ex. PRJCX02-666"/> 