<div>Entrez votre access token Teams</div>
<input class="token-input" type="text" (change)="tokenChanged($event)" [value]="teamsAccessToken" placeholder="Dû à des restrictions techniques Vaudoises, le token ne peut être récupéré automatiquement"/> 
<div>Entrez votre total d'heures timbrées pour la période</div>
<input class="total-hours-input" type="text" (change)="totalHoursChanged($event)" placeholder="178:34"/> 

Temps passé hors meetings : {{getUnassignedTime()}} minutes

<div class="events-to-tickets-mapper">
    <app-calendars-container [accessToken]="teamsAccessToken" (meetingsUpdated)="onMeetingsUpdated($event)" [assignedMeetings]="assignedMeetings"></app-calendars-container>
    <app-tickets-container (assigned)="onAssigned($event)" [assignedMeetings]="assignedMeetings"></app-tickets-container>
</div>