.timerange-selector-container {
    display: flex;
    flex-direction: column;
}

.commands-panel {
    display: flex;
    justify-content: space-between;
}

.mode-selector {
    align-self: center;
}